<div class="poll-display">
  <h2>Poll: <%= @poll.id %>. <%= @poll.title %></h2>

  <%= for option <- Enum.sort(@poll.options, &(&1.id >= &2.id)) do %>
    <strong><%= option.title %></strong>:
    <span id="vote-count-<%= option.id %>" class="vote-count"><%= option.votes %></span>
    <a href="/options/<%= option.id %>/vote" class="btn btn-primary vote-button-manual" data-option-id="<%= option.id %>">Vote</a>
    <br />
  <% end %>
</div>
